https://www.kaggle.com/datasnaek/league-of-legends

In [1]:
# q1. 데이터를 로드하라. 데이터 \t을 기준으로 구분되어 있음

In [13]:
import pandas as pd
game_df = pd.read_csv('./games.csv')

In [14]:
# q2. 데이터의 상위 5개 행을 출력하라.

In [15]:
game_df.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [3]:
# q3. 데이터의 행과 열의 갯수를 구해보세요.

In [21]:
game_df.shape
print('행:',game_df.shape[0])
print('열:',game_df.shape[1])

행: 51490
열: 61

In [4]:
# q4. 전체 컬럼을 출력하세요

In [25]:
Answer = game_df.columns
print(Answer)

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [5]:
# q5. 7번째 컬럼명을 출력하세요.

In [28]:
q5_Answer = Answer[6]
print(q5_Answer)

firstTower

In [6]:
# q6. 6번째 컬럼의 데이터 타입을 확인해보세요. <-- 얘는 생략.. 얘는 내일이나 모레 다시...

In [35]:
# ## 잘못된 답 XX
# answer = game_df.columns[5]
# type(answer)

# 올바른 답
game_df.firstBlood.dtype # 1번째 방법
game_df['firstBlood'].dtype # 2번째 방법

## Q6- Answer
# 제가 내일이나 모레 알려줄 방법
game_df.iloc[:,5].dtype # 3번째 방법 positional indexing

str

In [54]:
## iloc vs loc 미리 설명 
titan_df = pd.read_csv('./train.csv')
titan_df.loc[0,'Name']  # label based indexing
titan_df.iloc[:,5].dtype

dtype('float64')

In [7]:
# q7. 데이터 셋의 인덱스 구성을 확인해보세요. df.index

In [55]:
game_df.index

RangeIndex(start=0, stop=51490, step=1)

In [8]:
# q8. 6번째 컬럼의 3번째 값은 무엇일까요? <-- 얘는 생략.. 얘는 내일이나 모레 다시... iloc

In [56]:
game_df.iloc[2,5] # python은 0부터 세요 ^^

2

In [9]:
# end of file